{% extends 'base.html' %}

{% block title %}
  Lista departamentos
{% endblock title %}

{% block content %}
    {% include "includes/header.html" %}

    <div class="grid-container">
        <div class="grid-x">
            <h4 style="color: blue;">Lista Departamentos</h4>
            <div class="cell">
                <table style="margin: 0 auto;">
                    <tbody>
                        {% for departamento in departamentos  %}
                        <tr>
                            <td width="440" >{{departamento.name}}</td>
                            <td width="400">{{departamento.shor_name}}</td>
                            <td>

<a class="button warning" href="{% url 'persona_app:empleados_area' departamento.shor_name %}">Ver empleados</a>
                            </td>
                        </tr>
                            
                        {% endfor %}    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endblock content %}